.ui.sidebar.overlay.sidebar-dark {
	background: rgba(0, 0, 0, 0.7);
	color: #ccc;
	width: 600px;
	padding: 20px;
}

.ui.header {
	color: #fff;
}

.info-general {
	margin-bottom: 24px;
}
.info-list-headline {
	margin-top: 8px;
}


p.info-region-headline {
	margin-bottom: 8px;
}

.accordion-item .info-title {
	font-size: 16px;
	font-weight: bold;
}

.accordion-item .info-time {
	font-size: 12px;
	margin-left: 22px;
}

.info-detail {
	white-space: pre-wrap;
	margin-bottom: 10px;
}
